body {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.frågor{
    background-color: rgb(31, 105, 64);
    width: 90%;
    height: 120px;
    margin: 10px;
    /*Borde göra så att divarna inte syns (ligger bakom varandra
    display: none;
   */
}
/*Borde göra så att första diven syns, Men utan display 
none på .frågor så syns alla divar, med display none syns 
alla divar.....*/
.frågor:first-child(2){
    display: block;
}
.nästaBtn{
    border-radius: 5px;
}